{% extends 'main/base.html' %}

{% block body %}
  <section class="vh-100 gradient-custom">
    <div class="container-fluid py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p2">
              <div class="">
                <div class="row justify-content-between pb-3">
                  <div class="col-md-1 col-2 text-start">
                    <button type="button" class="bug-btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-info-lg"></i></button>
                  </div>
                  <div class="col-md-3 col-10">
                    <h2 class="fw-bold text-uppercase">{{ player.name }}#{{ player.pk|stringformat:'03d' }}</h2>
                  </div>
                  <div class="col-md-8 col-12 text-md-end text-center pt-md-0 pt-3">
                    <p class="mb-0" id="prompt_ita">{{ first_question.sample_a.prompt.ita_text }}</p>
                    <p class="text-white-50 mb-0" id="prompt_eng">{{ first_question.sample_a.prompt.eng_text }}</p>
                  </div>
                </div>

                <img src="{{ first_question.sample_a.img.url }}" alt="" id="img_a" style="width: 100%;" class="mb-3" />
                <img src="{{ first_question.sample_b.img.url }}" alt="" id="img_b" style="width: 100%;" class="mb-3" />
                <div class="progress position-relative" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div id="progress_load" class="progress-bar position-absolute h-100" style="width: 0%;"></div>
                  <div id="progress_survey" class="progress-bar position-absolute" style="width: 0%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Istruzioni</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
          <div>
            <p>Ti mostreremo immagini generate da un'intelligenza artificiale. Alcune invece sono scaricate da internet: <strong class="text-accent">riesci a trovarle?</strong></p>
            <p><strong class="text-accent">Suggerimento:</strong> Clicca sull'immagine che è più coerente (non sembra il collage di più immagini) e conforme alla descrizione che vedi in alto a destra.</p>
            <p>Non tutte le coppie contengono un'immagine scaricata 😉</p>
          </div>
          <hr />
          <div class="opacity-50">
            <p>We will show you images generated by artificial intelligence. Some instead are downloaded from the Internet: <strong class="text-accent">can you find them?</strong></p>
            <p><strong class="text-accent">Hint:</strong> Click on the image that is most coherent (doesn't look like a collage of multiple images) and conforms to the description you see in the upper right corner.</p>
            <p>Not all pairs contain a downloaded image 😉</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inizia</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
        const myModalAlternative = new bootstrap.Modal('#staticBackdrop');
        myModalAlternative.show();
        const buffer_size = 10;
        const total_questions = {{ total_questions}};

        var answered_questions = {{ answered_questions }};
        var loaded_pairs = 0;
        
        var index = 0;
        const img_pairs = [
          {% for question in questions %}
          ["{{ question.sample_a.img.url }}","{{ question.sample_b.img.url }}"],
          {% endfor %}
        ];
        const prompt_eng_texts = [
          {% for question in questions %}
          "{{ question.sample_a.prompt.eng_text|safe }}",
          {% endfor %}
        ];
        const prompt_ita_texts = [
          {% for question in questions %}
          "{{ question.sample_a.prompt.ita_text|safe }}",
          {% endfor %}
        ];
        const question_ids = [
          {% for question in questions %}
          "{{ question.id }}",
          {% endfor %}
        ];

        function ensure_buffer_is_not_full(timeout){
          var start = Date.now();
          return new Promise(wait_for_buffer);

          function wait_for_buffer(resolve, reject) {
            if (loaded_pairs - index < buffer_size)
                resolve(loaded_pairs - index);
            else if (timeout && (Date.now() - start) >= timeout)
                reject(new Error("timeout"));
            else
                setTimeout(wait_for_buffer.bind(this, resolve, reject), 30);
        }
        }
        
        // Function to preload images sequentially
        function preloadSequentially(imagePairs, index) {
          if (index < imagePairs.length) {
            const pair = imagePairs[index];
            const img1 = new Image();
            const img2 = new Image();
            
            img1.onload = function() {
              console.log("Loaded image " + pair[0]);
              // Image 1 loaded, preload Image 2
              img2.src = pair[1];
              img2.onload = function() {
                      loaded_pairs += 1;
                      console.log("Loaded image " + pair[1]);
                      // Image 2 loaded, continue to the next pair
                      ensure_buffer_is_not_full(10000000).then(function(){
                        preloadSequentially(imagePairs, index + 1);
                      });
                    };
                  };
                  
                  // Start loading Image 1
                  img1.src = pair[0];
                } else {
                  // All images preloaded
                  console.log("All images preloaded");
                }
        }

        
        
        // Start preloading images
        preloadSequentially(img_pairs, 0);
        
        function next_question() {
          index += 1;
          if (index < img_pairs.length) {
            $('#img_a').attr('src', img_pairs[index][0]);
            $('#img_b').attr('src', img_pairs[index][1]);
            $('#prompt_ita').text(prompt_ita_texts[index]);
            $('#prompt_eng').text(prompt_eng_texts[index]);
          }
        }

        function update() {
          let progress = ((answered_questions + index) / total_questions) * 100;
          if (progress > 100) {
            progress = 100;
          }
          $('#progress_survey').css('width', progress + '%');
          let load_progress = ((answered_questions + loaded_pairs) / total_questions) * 100;
          if (load_progress > 100) {
            load_progress = 100;
          }
          $('#progress_load').css('width', load_progress + '%');

          window.requestAnimationFrame(update);
        }
        
        update()
        
        function post_answer(answer) {
          $.ajax({
            type: 'POST',
            url: '{% url "post_answer" %}',
            data: {
              'question_id': question_ids[index],
              'answer': answer,
              'player_id': '{{ player.pk }}',
            },
            success: function (data) {
              console.log(data);
              if (data['remaining_questions'] == 0) {
                window.location.href = '{% url "scoreboard" %}';
              }
            },
            error: function (data) {
              alert('Error sending answer to the server')
            },
          });
        }
        
        $('img').click(function () {
          post_answer($(this).attr('id'))
          next_question()
        })

        $(document).keydown(function (e) {
          if (e.which == 38) {
            // up arrow
            post_answer('img_a')
            next_question()
          } else if (e.which == 40) {
            // down arrow
            post_answer('img_b')
            next_question()
          }
        })
      })
    </script>
{% endblock %}
