{% extends "acknowledgements/base.html" %}

{% block body %}
  <section class="gradient-custom">
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card card-vpippi">
            <div class="card-body text-start">
              <div class="mb-md-0 mt-md-0 pb-2">
                <h4 class="fw-bold mb-2">Ciao {{ name_surname }},</h4>
              </div>

              {# Flash an error if the password is wrong #}
              {% if error %}
                <img src="https://media.tenor.com/59D5FDlZ8QYAAAAM/nope-brennan-huff.gif" class="img-fluid nope-img mb-3" alt="Crying emoji">
              {% endif %}

              <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-outline mb-3">
                  <label for="id_password" class="form-label">{{ question }}</label>
                  <input type="password" name="password" id="id_password" class="form-control" placeholder="password" required autofocus>
                  <input type="hidden" name="ack_id" value="{{ ack_id }}">
                </div>

                <div class="d-grid">
                  <button class="btn btn-primary btn-block" type="submit" id="ack_button">Access</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block script %}
  <script>
      $(document).ready(function () {
        const $input = $('#id_password');
        const $button = $('#ack_button');

        $input.on('input', function() {
            $button.prop('disabled', $input.val().trim() === '');
        });

        // Initialize button state
        $button.prop('disabled', $input.val().trim() === '');
      })
    </script>
{% endblock %}