{% extends 'user_study_emuru/base.html' %}

{% block body %}
  <section class="vh-100 gradient-custom">
    <div class="container-sm py-2 h-100" style="max-width: 600px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card bg-light text-dark" style="border-radius: 1rem;">
            <div class="card-body p2">
              <div class="" style="text-align: start">
                <div class="row justify-content-between pb-3">
                  <div class="col-md-3 col-2 text-start">
                    <button type="button" class="bug-btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-info-lg" style="color: black;"></i></button>
                  </div>
                  <div class="col-md-6 col-10" style="text-align: center;">
                    <h2 class="fw-bold text-uppercase">{{ player.name }}#{{ player.pk|stringformat:'03d' }}</h2>
                  </div>
                  <div class="col-md-3 col-12 text-md-end text-center pt-md-0 pt-3">
                    <p class="mb-0" id="prompt_ita">{{ first_question.sample_a.prompt.ita_text }}</p>
                    <p class="text-white-50 mb-0" id="prompt_eng">{{ first_question.sample_a.prompt.eng_text }}</p>
                  </div>
                </div>

                <img src="{{ first_reference.img.url }}" alt="" id="img_ref" data-id="{{ first_reference.id }}" style="height: 3em;" class="mb-1" />
                <hr>
                {% for first_competitor in first_competitors %}
                <div class="w-100 div_img_option mb-3 p-1 img_option" id="div_img_{{ forloop.counter }}" data-id="{{ first_competitor.id }}"><img src="{{ first_competitor.img.url }}" id="img_{{ forloop.counter }}" alt="" style="height: 3em;"/></div>
                {% endfor %}
                <div class="w-100 div_img_option mb-3 p-1" style="height: 3em; text-align: center;" id="skip" data-id="{{ first_reference.iam_id }}"><h3>Skip</h3></div>
                
                <div class="progress position-relative" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div id="progress_load" class="progress-bar position-absolute h-100" style="width: 0%;"></div>
                  <div id="progress_survey" class="progress-bar position-absolute" style="width: 0%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Instructions</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start">
          <div>
            <p>We will show you a reference image containing text written by an author and three others generated by AI models. <strong class="text-accent">Can you spot the best 'forger' model?</strong> 🕵‍♂</p>
            <p><strong class="text-accent">Hint:</strong> pay attention to the details!</p>
          </div>
          <hr />
          <div class="opacity-50">
            <p>Ti mostreremo un'immagine di riferimento contenente testo scritto da un autore e altre tre generate da modelli di AI. <strong class="text-accent">Sai individuare il modello 'falsario' migliore?</strong> 🕵‍♂</p>
            <p><strong class="text-accent">Suggerimento:</strong> occhio ai dettagli!</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Start</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
        const myModalAlternative = new bootstrap.Modal('#staticBackdrop');
        myModalAlternative.show();
        const buffer_size = 10;
        const total_questions = {{ total_questions}};

        var answered_questions = {{ answered_questions }};
        var loaded_images = 0;
        
        var index = 0;

        const references = [
        {% for reference in references %}
          '{{ reference.img.url }}',
        {% endfor %}];

        const competitors = [
        {% for images in competitors %}
          [{% for image in images %}'{{ image.img.url }}',{% endfor %}],
        {% endfor %}];

        const references_ids = [
        {% for reference in references %}
          '{{ reference.id }}',
        {% endfor %}];

        const competitors_ids = [
        {% for images in competitors %}
          [{% for image in images %}'{{ image.id }}',{% endfor %}],
        {% endfor %}];

        const iam_ids = [
        {% for reference in references %}
          '{{ reference.iam_id }}',
        {% endfor %}];

        function ensure_buffer_is_not_full(timeout){
          var start = Date.now();
          return new Promise(wait_for_buffer);

          function wait_for_buffer(resolve, reject) {
            if (loaded_pairs - index < buffer_size)
                resolve(loaded_pairs - index);
            else if (timeout && (Date.now() - start) >= timeout)
                reject(new Error("timeout"));
            else
                setTimeout(wait_for_buffer.bind(this, resolve, reject), 30);
          }
        }

        function preloadImages(imageUrls) {
          let images = [];
          for (let i = 0; i < imageUrls.length; i++) {
            images[i] = new Image();
            images[i].src = imageUrls[i];
            loaded_images += 1
          }
          console.log('All images preloaded')
        }

        preloadImages(references.concat(competitors.flat()));
        
        function next_question() {
          index += 1;
          if (index < references.length) {
            $('#img_ref').attr('src', references[index]);
            $('#div_img_ref').data('id', references_ids[index]);
            for (let i = 0; i < competitors[index].length; i++) {
              $(`#img_${i + 1}`).attr('src', competitors[index][i]);
              $(`#div_img_${i + 1}`).data('id', competitors_ids[index][i]);
            }
            $('#skip').data('id', iam_ids[index]);
          }
        }

        function update() {
          let progress = ((answered_questions + index) / total_questions) * 100;
          if (progress > 100) {
            progress = 100;
          }
          $('#progress_survey').css('width', progress + '%');
          let load_progress = ((answered_questions + loaded_images) / total_questions) * 100;
          if (load_progress > 100) {
            load_progress = 100;
          }
          $('#progress_load').css('width', load_progress + '%');

          window.requestAnimationFrame(update);
        }
        
        update()
        
        function post_answer(answer) {
          $.ajax({
            type: 'POST',
            url: '{% url "post_answer" %}',
            data: {
              'answer': answer,
              'player_id': '{{ player.pk }}',
            },
            success: function (data) {
              console.log(data);
              if (data['remaining_questions'] == 0) {
                window.location.href = '{% url "scoreboard" %}';
              }
            },
            error: function (data) {
              console.log(data);
              alert('Error sending answer to the server')
            },
          });
        }
        
        $('.img_option').click(function () {
          post_answer($(this).data('id'))
          next_question()
        })
        $('#skip').click(function () {
          post_answer('skip_' + $(this).data('id'))
          next_question()
        })
      })
    </script>
{% endblock %}
