<div class="card tears_base mt-3">
  <div class="card-body">
    <div class="col-12">
      <label for="exampleFormControlTextarea1" class="form-label">Descrizione del piantino</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="tears_desc"></textarea>
    </div>

    <div class="col-12 mt-3 d-flex justify-content-between">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tears_happy" id="inlineRadio1" value="option1" />
          <label class="form-check-label" for="inlineRadio1">😊</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tears_bored" id="inlineRadio2" value="option2" />
          <label class="form-check-label" for="inlineRadio2">🥱</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tears_sad" id="inlineRadio2" value="option2" />
          <label class="form-check-label" for="inlineRadio2">😭</label>
        </div>
      </div>

    <div class="col-12 mt-3 d-flex justify-content-between">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tears_qta_1" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">💧</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tears_qta_2" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">💧💧</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tears_qta_3" id="inlineRadio2" value="option2" />
        <label class="form-check-label" for="inlineRadio2">💧💧💧</label>
      </div>
    </div>
  </div>
  {% comment %} <div class="card-footer">
    <small class="text-muted text-white">{{ day.passed_time }}</small>
  </div> {% endcomment %}
</div>
